.logo-1 {
  display: flex;
  width: 44px;
}
.logo-2 {
  display: flex;
  width: 40px;
}
.logo-3 {
  display: flex;
  width: 41px;
}
.logo-4 {
  display: flex;
  width: 80px;
}
.logo-5 {
  display: flex;
  width: 59px;
}
.logo-6 {
  display: flex;
  width: 88px;
}
