.logo {
  color: $accent-color;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  font-style: normal;
}
.page-header span {
  color: $titel-text-color;
}
.page-footer span {
  color: $primary-wight-color;
}
