.page-footer {
  background-color: #2f303a;
  padding: 60px 0px;
}
.wrapper-page-footer {
  display: flex;
}
.footer-section {
  margin-right: 70px;
}
.footer-icon {
  display: block;
  margin: 0;
  margin-right: 93px;
}
.footer-titel {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  @extend %text-styles;
  color: $primary-wight-color;
  text-align: center;
  margin: 0;
}
